<nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
    <app-pdm-object-nav></app-pdm-object-nav>
</nav>
<div class="container-fluid my-md-4 bd-layout">
    <div class="bd-sidebar">
        <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
            <app-pdm-object-viewer></app-pdm-object-viewer>
        </nav>
    </div>

    <main class="bd-main order-1">
        <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">

        </div>

        <div class="bd-content ps-lg-4">
            
        </div>
    </main>
</div>