<ng-container *ngIf="table; else alert">
    <table class="table table-bordered" (mouseover)="onMouseOver($event)" (mousedown)="onMouseDown($event)"
        (mouseup)="onMouseUp($event)">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Comment</th>
                <th scope="col">DataType</th>
                <th scope="col">Length</th>
                <th scope="col">Precision</th>
                <th scope="col">Mandatory</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of table.cells; index as i">
                <th scope="row">{{i + 1}}</th>
                <td *ngFor="let cell of row; index as j" [class.cell-active]="cell.focused" [attr.data-row]="i"
                    [attr.data-column]="j">{{cell.content}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #alert>
    <div class="alert alert-primary" role="alert">
        打开文件并选择表对象查看。
    </div>
</ng-template>