<ul class="list-unstyled mb-0 pt-md-1">
    <li class="mb-1" *ngFor="let node of nodes">
        <ng-container *ngIf="node.navigable; else unnavigable">
            <a class="d-inline-flex align-items-center rounded small" href="#"
                (click)="onNavigate($event, node)">{{node.name}}</a>
        </ng-container>
        <ng-template #unnavigable>
            <button class="btn d-inline-flex align-items-center rounded" [class.collapsed]="node.collapsed"
                [attr.aria-expanded]="node.collapsed" (click)="onClick(node)">
                {{node.name}}
            </button>
            <div class="collapse" [class.show]="node.collapsed">
                <ul class="list-unstyled fw-normal pb-1">
                    <ng-container *ngFor="let child of node.children">
                        <ng-container *ngIf="child.navigable; else unnavigable2">
                            <li class="small">
                                <a class="d-inline-flex align-items-center rounded" href="#"
                                    (click)="onNavigate($event, child)">{{child.name}}</a>
                            </li>
                        </ng-container>
                        <ng-template #unnavigable2>
                            <li class="ml-3">
                                <app-tree-viewer [child]="child" (navigate)="onNavigate2($event)"></app-tree-viewer>
                            </li>
                        </ng-template>
                    </ng-container>
                </ul>
            </div>
        </ng-template>
    </li>
</ul>