<div class="container-fluid d-flex align-items-md-center">
    <form class="bd-search position-relative me-auto">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
            <input type="search" class="form-control ds-input" id="search-input" placeholder="Search object..."
                autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
                style="position: relative; vertical-align: top;" dir="auto" />
        </span>
    </form>

    <button type="button" class="btn btn-secondary">Select file</button>
</div>