.table:focus {
  outline: none;
}

.table td {
  user-select: none;
}

.cell-active {
  background-color: darkgray;
}

.fake-element {
  font-size: 12pt;
  position: absolute;
  left: -9999px;
  top: -9999px;
}
